.aboutpage_flex{
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about_mission{
    width: 73%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mission_content{
    width: 45%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.faqs_flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.faqs_qns{
    width: 55%;
}