.pcard{
    border: 1.5px solid #00000012;
    min-width: 302px;
    overflow: none;
    border-radius: 2px;
}

#pcard_contnet{
    display: flex;
    justify-content: space-around;
    padding: 12px;
}